<h1>Category</h1>
<table class="table">
<thead class="table-light">
    <tr>
      <th>TYPE</th>
      <th>NAME</th>
      <th colspan="3"></th>
    </tr>
</thead>
<tbody>
<% @categorys.each do |category|%>
    <% unless category.parent_id.present? %>
      <tr style="background: gray;">
          <td>CATEGORY</td>
          <td><%=category.category_name.upcase %></td>
          <td>
          <% unless category.subcategories.present? %>
          <%= link_to "Add Product",new_supplier_product_path(:id => category.id),class:"btn btn-success btn-sm" %>
          <%end%>
        </td>
      </tr>
</tbody>
<tbody>
      <% category.subcategories.each do |subcategorie| %>
        <tr>
          <td>SUBCATEGORY</td>
          <td><%=subcategorie.category_name.upcase %></td>
          <td><%= link_to "Add Product",new_supplier_product_path(:id => subcategorie.id),class:"btn btn-success btn-sm" %></td>
        </tr>
      <%end%>
    <%end%>
</tbody>
<%end%>
</table>