.nav-link{
	color: white !important;
}

.container{
	margin-top: 10px !important;
	overflow:hidden;
}

.card{
	border: none;
	outline: none;
	border-radius: 25px !important;
	margin: 10px;
}

.card:hover{
	transform: translateY(-15px);
	transition: transform .3s;
}

.text1{
	font-size: 21px;
	color: #black;
}
.star{
	color: orange;
}

.cart{
	background-color: #333333;
}

.cart:hover{
	opacity: .8;
}

.cursor{
	cursor: pointer;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.cost{
	
	font-size: 21px;
	color: #black;	
}


.cart-page{
	margin: 20px auto !important;
	margin-left:10px;
}

table{
	width: 94%;
	border-collapse: collapse;
	margin-right: 100px;
}

.cart-info{
	display: flex;
	flex-wrap: wrap;
}

th{
	padding: 5px;
	background-color: gray;
}

td{
	padding: 10px 5px;
}

.total-price{
	display: flex;
	justify-content: flex-end;
}

.total-price table{
	border-top: 3px solid black;
	width: 95%;
	max-width: 350px;
}

td:last-child{
	text-align: right;
}
