<center>
<h1>users</h1>
<table class="table" style="width: 95%;">
	  <thead class="table-light">
    <tr>
      <th>Email</th>
      <th> </th>
	   <th style="text-align: right;">Role</th>
    </tr>
</thead>
<tbody>
	<% @users.each do |user|%>
      <tr>
        <% unless current_user==user %>
        <td><%=user.email%></td>
        <td><% role=user.roles.first %></td>
        <td><%= role.name %></td>
        <%else%>
        <%end%>
      </tr>
   <%end%>
  </tbody>
</table>
</center>